@import "tailwindcss";

body{
    font-family: 'Poppins', sans-serif;
}

.logo-font{
    font-family:'Playfair Display', serif;
}

.hero-title{
    font-family:'Playfair Display', serif;
}

.logo-font {
  font-family: "Playfair Display", serif;
}